.img {
    width: 640px;
    height: 640px;
}

#logo {
    width: 180px;
    height: auto;
    margin-left: 240px;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    margin-bottom: 16px;
}

#postContainer {
    margin-left: 240px;
    margin-right: 240px;
    width: 640px;
    margin-top: 3px;
}

#search {
    height: 24px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

#headerIcons {
    padding-right: 240px;
}

#headerIcons img {
    width: 32px;
    height: 32px;
    padding-left: 16px;
}

#profilePic {
    border-radius: 50%;
    padding-left: 0 !important;
    margin-left: 16px !important;
}

.post {
    margin-bottom: 64px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.author {
    margin-top: 16px;
    font-weight: 900;
    display: inline-block;
}

.description {
    display: inline-block;
    margin-left: 0;
}

.postText {
    display: block;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
}

.postText .author {
    display: block;
    margin-bottom: 4px;
}

.postText .description {
    display: block;
    margin-bottom: 8px;
}

.allComments {
    margin-bottom: 10px;
    font-style: italic;
}

.allComments div {
    display: flex;
    margin-bottom: 8px;
}

.allComments div:before {
    content: attr(data-author) " ";
    font-weight: 600;
}

.comment {
    width: 90%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    line-height: 1.5;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.postArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    background-color: white;
}

.postArea input.user, .postArea textarea.comment {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    resize: none;
    height: 40px;
}

.postArea input.user {
    flex: 1;
    padding-left: 4px;
}

.postArea textarea.comment {
    flex: 2.5;
    text-align: start;
    padding-top: 8px;
    padding-left: 4px;
}

.postArea button {
    height: 40px;
    border: none;
    background-color: #3897f0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.postArea button:hover {
    background-color: #357ABD;
}

.aboveImg img {
    margin-left: 24px;
    width: 48px;
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.aboveImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
}

#dots {
    width: 24px;
    height: auto;
}

.profileAboveImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.aboveImgLeft {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text" i] {
    padding: 0;
}

.OneComment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date {
    color: rgb(192, 192, 192);
    white-space: nowrap;
    margin-left: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

.profile-section {
    flex: 2;
    padding: 20px;
}

.profile-section .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-section .profile-info {
    text-align: center;
}

.suggestions-section {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #dbdbdb;
}

.suggestions-section h2 {
    margin-bottom: 20px;
}

.suggestions-section .suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.suggestions-section .suggestion img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.suggestions-section .suggestion p {
    margin: 0;
}

#profiles {
    position:absolute;
    top:80px;
    right:200px;
    width: 500px;
    

}

.suggestedProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.suggestedProfile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profileInfo {
    flex-grow: 1;
}

.profileName {
    font-weight: bold;
}

.followsYou {
    font-style: italic;
    color: grey;
}

.subscribeButton {
    padding: 5px;
    background-color: #3897f0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

#profilePic {
    width: 80px;
    height: 80px;
}


@media (max-width: 1333px) {
    #profiles {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
    }
}

@media (max-width: 1333px) {
    #profiles {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
    }
}

@media (max-width: 1600px) {
    #profiles {
        width: 400px;
    }
}

@media (max-width: 1500px) {
    #profiles {
        width: 300px;
    }
}

@media (max-width: 1400px) {
    #profiles {
        width: auto;
    }
}

@media (max-width: 1150px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo {
        margin-left: 0;
        margin-top: 16px;
    }

    #search {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    #headerIcons {
        padding-right: 0;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 700px) {
    #postContainer {
        width: 90vw;
    }

    .img {
            width: 100%;
            height: auto;
            max-width: 100%;
    }

    .OneComment {
        text-align: start;
    }


}

@media (max-width: 500px) {
    .date {
        display: none !important;
    }

    .postArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .comment {
        margin-left: 0;
        padding-left: 0;
    }

    .comment {
        max-height: 5rem;
        min-height: 2rem;
    }
    .postArea input.user {
        margin-bottom: 8px;
    }

    .postArea textArea.comment {
        margin-bottom: 8px;
    }
}

.iconUnderImg {
    height: 32px;
    width: 32px;
}

.likeUnderImg {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

